@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
  font-family: 'FirsNeue';
  src: url('@/shared/assets/fonts/FirsNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
