@use './normalize.scss';
@use './fonts.scss';

body {
    background-color: $color-primary;
    font-family: $font-primary;
}

.app {
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.page-layout {
    padding: 24px;
    background-color: $color-body;
    width: 100%;
    min-height: calc(100svh - 89px);
}