$color-primary: #ffffff;
$color-secondary: #212626;
$color-additional: #A8A8C5;
$color-border: #E7E7F5;
$color-gray: #F3F5FA;
$color-accent: #1B3ED7;
$color-success: #079455;
$color-error: #DA022A;
$color-warning: #f5ac2f;

$text-2xl: 28px;
$text-xl: 24px;
$text-lg: 18px;
$text-md: 16px;

$rounded-full: 100%;
$rounded-xl: 24px;
$rounded-lg: 12px;
$rounded-md: 8px;


$breakpoints-sm: 640px;
$breakpoints-md: 768px;
$breakpoints-lg: 1024px;
$breakpoints-xl: 1280px;
$breakpoints-2xl: 1536px;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "FirsNeue", sans-serif;

$transition: 0.3s