$color-primary: #ffffff;
$color-secondary: #212626;
$color-additional: #a8a8c5;
$color-border: #e7e7f5;
$color-gray: #f3f5fa;
$color-accent: #1b3ed7;
$color-success: #079455;
$color-error: #da022a;
$color-warning: #f5ac2f;
$color-icon-default: #c7c7df;
$color-body: #fbfbff;

$text-2xl: 28px;
$text-xl: 24px;
$text-lg: 18px;
$text-md: 16px;
$text-sm: 14px;
$text-xs: 12px;

$rounded-full: 100%;
$rounded-xxl: 24px;
$rounded-xl: 16px;
$rounded-lg: 12px;
$rounded-md: 8px;
$rounded-sm: 6px;

$breakpoints-sm: 640px;
$breakpoints-md: 768px;
$breakpoints-lg: 1024px;
$breakpoints-xl: 1280px;
$breakpoints-2xl: 1536px;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'FirsNeue', sans-serif;

$transition: 0.3s;
