.card {
  flex: 1 1 250px;
  min-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;

  @media (max-width: $breakpoints-sm) {
    flex: 1 1 200px;
    min-width: 200px;
  }
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
