.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.col {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}