.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 32px;
    border-bottom: 1px solid $color-border;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
