.card {
    min-width: 326px;
    width: 100%;
    height: 138px;
    border: 1px solid $color-border;
    border-radius: $rounded-xl;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-primary;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__body {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__change {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1px;
    }
}