.card {
    width: 100%;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $breakpoints-lg) {
        height: 100px;
    }

    @media (max-width: $breakpoints-md) {
        height: 80px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__body {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        line-height: 100%;
        gap: 8px;
    }

    &__change {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1px;
    }
}