.sidebar {
    height: calc(100svh);
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: width $transition;
    border-right: 1px solid $color-border;
}

.header {
    padding: 28px 10px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $color-border;
}

.main {
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.collapsed {
    width: 300px;
}