.sidebar {
    min-height: 100svh;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: width $transition;
    border-right: 1px solid $color-border;
}

.header {
    padding: 26px 10px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $color-border;
}

.main {
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
    width: 100%;
    overflow: hidden;
}


.collapsed {
    width: 300px;
}

.footer {
    position: relative;
    width: 100%;
    padding: 48px 16px;
}

.toggle-icon {
    position: absolute;
    background: $color-primary;
    right: -18px;
    bottom: 100px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: transform $transition;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border: 1px solid $color-border;
        border-left: 0;
        border-radius: 50%;
        mask: linear-gradient(to right, transparent 0 50%, $color-primary 50% 100%);
        transform: rotate(-90deg);
    }

    &--close {
        transform: rotate(-90deg);
        &::after {
            transform: rotate(90deg);
        }
    }
}

.exit {
    display: flex;
    align-items: center;
    gap: 16px;
}