.item {
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: $rounded-lg;
    text-decoration: none;
    transition: $transition;

    @media (max-width: $breakpoints-2xl) {
        gap: 12px;
    }

        &:hover {
        background-color: $color-gray;
        .icon, span {
            color: $color-accent !important;
        }
    }
}

.big {
    padding: 16px;

    @media (max-width: $breakpoints-2xl) {
       padding: 12px; 
    }

    @media (max-width: $breakpoints-md) {
        padding: 6px;
    }
}

.medium {
    padding: 5px 16px;

    @media (max-width: $breakpoints-2xl) {
       padding: 5px; 
    }
}

.active {
      background-color: $color-gray;
      
}

.icon {
    &--active {
        color: $color-accent;
    }
}