.list {
    display: flex;
    gap: 16px;

    @media (max-width: $breakpoints-xl) {
        gap: 8px;
    }

    @media (max-width: $breakpoints-lg) {
        flex-wrap: wrap;
    }

    @media (max-width: $breakpoints-sm) {
        gap: 4px;
    }
}