.container {
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid $color-border;
    border-radius: $rounded-md $rounded-md 0px 0px;
}