.table {
  width: 100%;
  border-collapse: collapse;
  font-family: inherit;

  th,
  td {
    border: 1px solid $color-border;
    padding: 10px 12px;
  }
}

.thead {
    background: $color-primary;
    color: $color-additional;
    font-size: $text-lg;
    
}
