.card {
    width: 85px;
    height: 75px;
    border: 1px solid $color-border;
    border-radius: $rounded-md;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color-additional;
    }

    &__value {
        font-weight: 500;
    }
}