.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.row {
    background-color: $color-body;
    padding: 16px;
    display: flex;
    gap: 16px;
    border-radius: 0px 0px $rounded-xl $rounded-xl;
    border: 1px solid $color-border;
    border-top: none;
}