.container {
    border: 1px solid $color-border;
    padding: 24px;
    border-radius: $rounded-xxl;
    background-color: $color-primary;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.content {
    border: 1px solid $color-border;
    border-radius: $rounded-xl;
    overflow: hidden;
}

.row {
    background-color: $color-body;
    padding: 16px;
    display: flex;
    gap: 16px;
}