.cell {
  position: relative;
}

th {
  padding: 24px;
  @media (max-width: $breakpoints-2xl) {
    padding: 12px;
  }
}

td {
  padding: 16px 24px;
  @media (max-width: $breakpoints-2xl) {
    padding: 8px 12px;
  }
}

td:not(:last-child)::after,
th:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: $color-border;
}

.container {
  display: flex;
  gap: 12px;
}

.text {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
