.cell {
    border: 1px solid $color-border;
}

th {
    padding: 24px;
    @media (max-width: $breakpoints-2xl) {
        padding: 12px;
    }
}

td {
    padding: 16px 24px;

    @media (max-width: $breakpoints-2xl) {
        padding: 8px 12px;
    }
}

.container {
    display: flex;
    gap: 12px;
}

.text {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}