.list {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  @media (max-width: $breakpoints-xl) {
    gap: 12px;
  }

  @media (max-width: $breakpoints-md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $breakpoints-sm) {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
