@use 'sass:color';

.badge {
  padding: 2px 12px;
  border-radius: $rounded-lg;
}

.active {
  border: 1px solid color.adjust($color-success, $alpha: -0.7);
  background-color: color.adjust($color-success, $alpha: -0.95);
}

.paused {
  border: 1px solid color.adjust($color-warning, $alpha: -0.7);
  background-color: color.adjust($color-warning, $alpha: -0.95);
}

.stopped {
  border: 1px solid color.adjust($color-error, $alpha: -0.7);
  background-color: color.adjust($color-error, $alpha: -0.95);
}
