.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.image {
  border-radius: $rounded-lg;

  @media (max-width: $breakpoints-sm) {
    width: 250px;
  }
}
