.card {
    max-width: 430px;
    width: 100%;
    height: 340px;
    border: 1px solid $color-border;
    border-radius: $rounded-md;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-primary;


    @media (max-width: $breakpoints-2xl) {
        height: 300px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 0px;
    }
}