.card {
    max-width: 430px;
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $breakpoints-2xl) {
        height: 300px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 0px;
    }
}