.container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.input {
  display: none;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: $rounded-sm;
  border: 1px solid $color-border;
  transition: $transition;

  input:checked + & {
    border: none;
    background-color: $color-accent;
  }


  input:checked + &::after {
    content: "";
    display: block;
    width: 6px;
    height: 10px;
    border: solid $color-primary;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin: 2px auto;
  }
}

.input:disabled + .checkbox {
  cursor: not-allowed;
  opacity: 0.6;
}